#detalhesMedicamento{
    color: #333;
    margin: 20px auto;
    background-color: #fff;
    max-width: 450px;
    min-width: 430px;
    height: 25em;
    border-bottom: 4px solid #0bb3d8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.medicamentoSelect{
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
}

#detalhesMedicamento img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

#detalhesMedicamento p {
    font-size: 1.2em;
    color: #333;
}



#resultado{
    display: flex;
}




/* Adicione este CSS ao seu arquivo styles.css */
#antes-resul, #depois-resul {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    max-width: 500px;
    min-width: 350px; /* Ajuste conforme necessário */
}

#antes-resul h3, #depois-resul h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

#antes-resul p, #depois-resul p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}


/* animacao card central */

.detalhes-anima {
    transition: opacity 0.5s ease-in-out;
}

.detalhes-anima.fade-in {
    opacity: 1;
}
