@media screen and (min-width: 1550px) {
    
    body {
      font-size: 18px; /* Exemplo de ajuste de tamanho de fonte para telas maiores */
    }
  
    .medicamento-card {
        background-color: aqua;
        width: 20em;
        height: 28em;
      }
  }