/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.sessao-cima{
    background-color: #14c6ee;
    width: 100vw;
    height: 10px;
}



/*=============== pesquisa ==============*/
#pesquisa{
    display: flex;
    margin: 0 0 20px 0;
    background-color: #7fdff5;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.container {
    margin-left: 5%;
    padding: 20px;
    width: 700px;
}

.input-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    background-color: #fff;
    width: 250px;
    padding: 0vw 2vw;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#medicamento{
    margin: 2px 15px;
    height: 6vh;
    font-size: large;
    background-color: #fff;
    border: none;
    border-color: #007bff;
    outline: none;
}

#medicamento:focus{
    border-color: #007bff;
    outline: none;
}

/*=======================================*/




header, #resultado{
    margin-bottom: 20px; /* Maior espaçamento entre as seções */
    background-color: #fff;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}




ul {
    list-style-type: none;
    padding: 0;
    background-color: #007bff;
    width: 200px;
}

ul li {
    cursor: pointer;
}

#listaResultados {
    margin-left: 25px;
    padding: 10px;
    display: none;
    align-items: center;
}

